// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/social-login.scss";
@import "./components/forms.scss";
@import "./components/buttons.scss";

// Screens
@import "./screens/home.scss";
@import "./screens/login.scss";
@import "./screens/join.scss";
@import "./screens/main.scss";

// Defaults
body {
  background-color: $bgColor;
  color: $color;
  width: 100vw;
  height: 100vh;
}
