extends base

block content
    include partials/header.pug
    div#div_title
        h1#h1_title Let's get a good name for your new born baby!
    div#name-finder
        a.btnST1#random_name_btn Click me!