extends base

block content
    include partials/header.pug
    div#div_title
        h1#h1_title Do you looking for a name for?
    div.name-category
        a.btnST1#name-category-btn(href="/naming/animal") Pet
        a.btnST1#name-category-btn(href="/naming/human") Baby
        a.btnST1#name-category-btn(href="/naming/alias") Nickname