header
    a(href="/") HOME
    nav
        ul 
            li
                a(href="/login") Login
            li
                a(href="/join") Join
            li
                a(href="/about") About